.search_container {
    position: relative;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: center;


    height: 70px;
    margin: 0 auto;

    background: linear-gradient(180deg, rgba(233, 99, 94, 1) 35%, rgba(202, 20, 20, 1) 100%);
}

.search-box {}

#Search-Box-form {
    width: 100%;
}

#Search-Box {

    width: 80%;
    margin-left: 5%;

    background: none;
    background-color: white;
    border: none;
    border-radius: 10px;
}